<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Clock-In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card (click)="openHome('scanner')" class="ion-padding ion-no-margin ion-margin-vertical">
    <h3>Clock-In Scanner</h3>
    <ion-text>
      Stempeln Sie die die Arbeitszeiten an und ab, indem Sie die entsprechenden QR-Codes scannen.
    </ion-text>
  </ion-card>

  <ion-card (click)="openHome('supervisor')" class="ion-padding ion-no-margin ion-margin-vertical">
    <h3>Clock-In Supervisor</h3>
    <ion-text>
      Generieren Sie QR-Codes und überwachen Sie die erfassten Arbeitszeiten.
    </ion-text>
  </ion-card>

  <ion-button (click)="createIntroSliderPopover()" class="ion-no-padding" fill="clear">Wie funktioniert diese App?</ion-button>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-padding ion-no-margin">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="auto">
          <ion-text color="primary" (click)="navigateTo('/imprint')" class="ion-no-padding" fill="clear">Impressum</ion-text>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-text color="primary" (click)="createInfoModal(1, 'Datenschutzerklärung')" class="ion-no-padding">Datenschutz</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="primary" (click)="createInfoModal(2, 'Nutzungsbedingungen')" class="ion-no-padding">Nutzungsbedingungen</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
