<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let setting_item of settingsList" class="ion-no-padding ion-no-margin">
    <ion-item (click)="edit(setting_item.id)" class="ion-no-padding ion-no-margin">
      <ion-text>
        {{setting_item.title}}
        <ion-text *ngIf="setting_item.value!==''" class="italic-values">
          <br>
          {{setting_item.value}}
        </ion-text>
      </ion-text>
    </ion-item>
  </ion-list>

  <br>
  <h5>Mein Abo</h5>
  <ion-item line="none" class="ion-no-padding">
    <ion-button class="ion-no-padding" (click)="createChooseSubscriptionPopover()" fill="clear" expand="full">
      {{subName}}
    </ion-button>
  </ion-item>
  <ion-item lines="none" class="ion-no-padding ion-padding-vertical">
    <!-- Copy this layout from subscription.component.html and adapt variables!!! -->
    <ion-text>
      <ion-text>{{subTotalPrice}}</ion-text>
      <ion-text *ngIf="subPeriod==='Month' && !isStarter"><br>Monatliche Abrechnung</ion-text>
      <ion-text *ngIf="subPeriod==='Year' && !isStarter"><br>Jährliche Abrechnung</ion-text>
      <!--<ion-text *ngIf="!isStarter"><br>{{subTrial}}</ion-text>-->
      <ion-text><br>{{subDesc}}</ion-text>
    </ion-text>
    <ion-button class="ion-no-padding" (click)="restorePurchase()" color="primary">
      Restore
    </ion-button>
  </ion-item>

</ion-content>
