<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Clock-In Supervisor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="login2Supervisor()">
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Kontoname</ion-label>
      <ion-input [disabled]="true" formControlName="supervisorEmailCtrl" type="text"></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Passwort</ion-label>
      <!-- Form can be submitted my clicking the submit button or by clicking the open-button on the keyboard of password-field. -->
      <ion-input formControlName="supervisorPasswordCtrl" type="password" (keyup.Enter)="login2Supervisor()"></ion-input>
    </ion-item>

    <ion-text class="hints">
      Anmeldung erforderlich. Die Anmeldedaten erhalten Sie vom Administrator von Clock-In (Supervisor).
      Genauere Information finden Sie unten unter "Wie funktioniert diese App".
    </ion-text>
    <ion-button [disabled]="!formGroup.valid" type="submit" expand="full" color="secondary">
      Anmelden
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
    </ion-button>
    <ion-text (click)="passwordForgotten()" class="clickable-text">Passwort vergessen</ion-text>
  </form>
  <ion-spinner style=" width: 100%; text-align: center;" [hidden]="!loading" [paused]="!loading"></ion-spinner>
</ion-content>
