<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Impressum</h2>
  <h4>Angaben nach §5 TMG</h4>
  <p>
    <b>Rudolf Hoffmann</b><br>
    Eschenweg 28<br>
    72348 Rosenfeld<br>
    Germany<br>
  </p>
  <h4>Kontakt</h4>
  <ion-icon class="ion-margin-end" style="vertical-align: middle;" name="mail-outline"></ion-icon>
  <ion-text>rudolf.hoffmann@inno-apps.de</ion-text><br>
  <ion-icon class="ion-margin-end" style="vertical-align: middle;" name="call-outline"></ion-icon>
  <ion-text>+49 176 55785699</ion-text>
  <h4>Steuernummer</h4>
  <p>53216/45102</p>


</ion-content>
